body{
    padding:0;
    margin:0;
}

.app{
    margin:0;
    padding:14px;
}

.dark{
    background-color: rgb(31,31,31);
}

.dark h1{
    color:#fff;
}

.dark h3{
    color:#fff;
}

.dark h6{
    color:#fff;
}

.dark p{
    color:#fff;
}